.about {
  header {
    .init();
    // background-color: green;
    // -webkit-clip-path: polygon(50% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%);
    // clip-path: polygon(50% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%);
    // -webkit-clip-path: url('#polygon-clip-pentagon');
    // clip-path: url('#polygon-clip-pentagon');
    // padding: 2rem;
  }

  .values {
    .init();
  }

  .staff {
    .init();
    border: 1px solid blue;
  }

  .culture {
    .init();
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f9;
    padding: 2rem 0;

    @media only screen and (max-width: 950px) {
      flex-direction: column;
      height: auto;
    }
    h2 {
      color: @primaryColor;
    }

    h4 {
      font-family: @secondaryFont;
    }
    .content {
      width: 45%;
      line-height: 2;
      @media only screen and (max-width: 950px) {
        width: 70%;
        margin: 1rem 0;
      }

      @media only screen and (@mobile) {
        width: 90%;
      }
    }

    .image {
      width: 45%;
      @media only screen and (max-width: 950px) {
        width: 70%;
        margin: 1rem 0;
      }

      @media only screen and (@mobile) {
        width: 90%;
      }

      img {
        width: 100%;
      }
    }
  }
}
